
backend/node-ex2.1/node_modules/
backend/node-ex3/node_modules/

frontend/ex2/node_modules/
frontend/ex2/package-lock.json
frontend/ex6/node_modules/
frontend/ex6/package-lock.json

final/server/node_modules/
final/client/node_modules/
backend/node-socket/node_modules/
