
backend/node-*/node_modules/

frontend/ex2/node_modules/
frontend/ex2/package-lock.json
frontend/ex6/node_modules/
frontend/ex6/package-lock.json

final/server/node_modules/
final/client/node_modules/
